{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <header>
        <meta charset="utf-8"/>
        <title>
            {% block title %} NutriK {% endblock %}
        </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap.css') }}">


        <!-- Optional theme -->
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap-theme.css') }}">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ asset('public/js/bootstrap.js') }}"></script>

        <!-- Header stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/header.css') }}" />

        <!-- Footer stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/footer.css') }}" />

        <!-- Homepage stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/homepage.css') }}" />

        <!-- Menu component javascript -->
        <script src="{{ asset('bundles/framework/js/MenuComponent.js') }}"></script>

        <!-- Customs JS -->
        <script src="{{ asset('bundles/framework/js/customs.js') }}"></script>

        <!-- Chart JS -->
        <script src="{{ asset('public/js/chart.js') }}"></script>
    </header>
    <section id="default-header">
        {% include 'header.html.twig' %}
    </section>
    {% if not is_granted('ROLE_NUTR') %}
        <section id="customer-header">
            {% include 'customerheader.html.twig' %}
        </section>
        <section id="customer-homepage">
            <div class="container">
                <div class="row" style="justify-content: center; color: black; text-align: center; padding: 20px">
                    <img src="{{ asset('home-banner.jpg') }}" style="border-radius: 10%;width: 100%;height: 45rem;">
                </div>
                <div class="row" style="justify-content: center; color: black; text-align: center; padding: 20px">
                    <p style="font-size: 17px;">
                        En NutriK vas a encontrar profesionales sanitarios expertos en alimentación, nutrición y dietética.
                        Nos encargamos principalmente del diagnóstico nutricional-dietético general y específico, así como del tratamiento nutricional-dietético de enfermedades, como por ejemplo diabetes, malnutrición, insuficiencia renal, obesidad, enfermedad de Crohn, del tratamiento con nutrición artificial enteral y parenteral en hospitales, o a domicilio, de la prevención de patologías mediante la alimentación, nutrición y dietética, decidir colaborativamente en el tratamiento del paciente oncológico etc., además de adecuar la alimentación, nutrición y dietética de cada persona a cualquier situación fisiológica, como embarazo, lactancia, deporte, etc, y patológica con carácter de primera intención, como facultativo en su área propia de conocimiento, cual es la Nutrición y la Dietética.
                    </p>
                </div>
            </div>
        </section>
    {% else %}
        <section id="nutritionist-homepage">
            <header>
                <!-- Calendar Page stylesheet -->
                <link rel="stylesheet" href="{{ asset('bundles/framework/css/home-calendar.css') }}" />
                <!-- Calendar JS -->
                <script src="{{ asset('public/js/calendar.js') }}"></script>
                <!-- NutriK Calendar JS -->
                <script src="{{ asset('bundles/framework/js/nutrik-calendar.js') }}"></script>
            </header>
            <div class="container">
                <div class="col-sm-12">
                    <div id="nutritionist-homepage-block">
                        <div class="col-sm-6">

                            <div class="col-sm-12 nutritionist-notifications">
                                <h3>Mis notificaciones
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16" style="width: 2rem; height: 2rem; margin-bottom: -3px"
                                         onclick="openModal('openMyInfoNotificationsModal')">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                    </svg>
                                </h3>
                                <button style="display: none" type="button" class="btn btn-primary" id="openMyInfoNotificationsModal" data-toggle="modal" data-target="#infoNotificationsModal"></button>
                                <div class="modal fade" id="infoNotificationsModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <!-- Modal body -->
                                            <div class="modal-body" style="text-align: start">
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16" style="margin-bottom: -5px; width: 20px; height: 20px" color="#d6e9c6">
                                                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/></svg>
                                                    Notificaciones para nuevo contenido
                                                </span>
                                                <br/><br/>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16" style="margin-bottom: -5px; width: 20px; height: 20px" color="#bce8f1">
                                                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/></svg>
                                                    Notificaciones para la modificación de contenido
                                                </span>
                                                <br/><br/>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16" style="margin-bottom: -5px; width: 20px; height: 20px" color="#ebccd1">
                                                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/></svg>
                                                    Notificaciones para la eliminación de contenido
                                                </span>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="overflow-y: auto; height: 29rem">
                                    {% for log in logs %}
                                        <div class="row">
                                            {% if 'add' in log.source %}
                                                <div class="alert alert-success" role="alert" style="margin-bottom: 0; padding: 10px">
                                                    {{ log.context }}
                                                </div>
                                            {% elseif 'delete' in log.source %}
                                                <div class="alert alert-danger" role="alert" style="margin-bottom: 0; padding: 10px">
                                                    {{ log.context }}
                                                </div>
                                            {% else %}
                                                <div class="alert alert-info" role="alert" style="margin-bottom: 0; padding: 10px">
                                                    {{ log.context }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-12 nutritionist-kpis">
                                <img src="{{ asset('chart.png') }}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12 nutritionist-calendar">
                                {% for calendar_event in calendar_events %}
                                    <div class="calendar_event" style="color: black; display: none">
                                        <input class="calendar_event_id" value="{{ calendar_event['id'] }}"/>
                                        <input class="calendar_event_title" value="{{ calendar_event['title'] }}"/>
                                        <input class="calendar_event_start" value="{{ calendar_event['start']|date('Y-m-d H:i:s') }}"/>
                                        <input class="calendar_event_end" value="{{ calendar_event['end']|date('Y-m-d H:i:s') }}"/>
                                        <input class="calendar_event_url" value="{{ calendar_event['url'] }}"/>
                                        <input class="calendar_event_type" value="{{ calendar_event['type'] }}"/>
                                    </div>
                                {% endfor %}
                                <div id='wrap'>
                                    <div id='calendar'></div>
                                    <div style='clear:both'></div>
                                </div>
                            </div>
                            <div class="col-sm-12 nutritionist-appointments-events">
                                <strong>Mis próximas consultas y eventos</strong>
                                <hr style="margin-top: 10px; margin-bottom: 10px"/>
                                <div class="nutritionist-appointments">
                                    {% for appointment in appointments %}
                                        <p>
                                            <span>
                                                Consulta:
                                                <strong>{{ appointment.date|date('Y-m-d H:i:s') }}:</strong>
                                                <a href="{{ path("nutritionist_edit_appointment",{"id_appointment":appointment.idAppointment}) }}">{{ appointment.description }}</a>
                                            </span>
                                        </p>
                                    {% endfor %}
                                    {% for event in events %}
                                        <p>
                                            <span>
                                                Evento:
                                                <strong>{{ event.date|date('Y-m-d H:i:s') }}:</strong>
                                                <a href="{{ path("nutritionist_edit_event",{"id_event":event.idEvent}) }}">{{ event.title }}</a>
                                            </span>
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% include 'footer.html.twig' %}
    </html>
{% endblock %}
