{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <header>
        <!-- Login Page stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/customerpages.css') }}" />

        <!-- Footer stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/footer.css') }}" />
    </header>
    <section id="default-header">
        {% include 'header.html.twig' %}
    </section>
    <section id="customer-header">
        {% include 'customerheader.html.twig' %}
    </section>
    <section id="didactic-content-view">
        {% for message in  app.session.flashbag().get('entryKOStatus') %}
            <div class="row" style="width: 93.5%; margin-left: 3.3%; margin-top: 10px; margin-bottom: -10px;">
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="container">
            <div class="didactic-content-view-block">
                <div class="col-sm-12 didactic-content-title">
                    <strong>{{ entry.title }}</strong>
                </div>
                <div class="col-sm-12 didactic-content-description">
                    <p>{{ entry.description }}</p>
                </div>
                <div class="col-sm-12 didactic-content-image">
                    <img src="{{ asset(entry.image) }}">
                </div>
                <div class="col-sm-12 didactic-content-content">
                    <p>{{ entry.content }}</p>
                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html.twig' %}
    </html>
{% endblock %}
