{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <header>
        <!-- Login Page stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/customerpages.css') }}" />
        <!-- Footer stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/footer.css') }}" />
    </header>
    <section id="default-header">
        {% include 'header.html.twig' %}
    </section>
    {% if not is_granted('ROLE_NUTR') %}
        <section id="customer-header">
            {% include 'customerheader.html.twig' %}
        </section>
    {% endif %}
    <section id="messenger">
        {% for message in  app.session.flashbag().get('messengerKOStatus') %}
            <div class="row" style="width: 87%; margin-left: 6.5%; margin-top: 10px; margin-bottom: -10px;">
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0; padding: 10px">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        {% for message in  app.session.flashbag().get('messengerOKStatus') %}
            <div class="row" style="width: 87%; margin-left: 6.5%; margin-top: 10px; margin-bottom: -10px;">
                <div class="alert alert-success" role="alert" style="margin-bottom: 0; padding: 10px">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="container">
            <form id="msform" action="{{ path("customer_messenger", {'id_message':id_message}) }}" method="post">
                <div class="col-sm-12">
                    <div id="messenger-block">
                        <div class="col-sm-4 messenger-block-inbox">
                            <div class="col-sm-12 messenger-block-header">
                                <div class="col-sm-12 new-inbox" onclick="openModal('openSendMessageModal')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-plus-fill" viewBox="0 0 16 16" style="width: 3rem;height: 3rem;margin-bottom: -10px; margin-right: 10px">
                                        <path fill-rule="evenodd" d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5a.5.5 0 0 0-1 0v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1Z"/>
                                        <path fill-rule="evenodd" d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm.192 1.056 6.57-4.027L8 9.586l1.239-.757.367.225A4.49 4.49 0 0 0 8 12.5c0 .526.09 1.03.256 1.5H2a2 2 0 0 1-1.808-1.144ZM16 9.67V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
                                    </svg>
                                    Redactar nuevo mensaje
                                </div>
                                <select id="inbox-group" onclick="changeInboxGroup()">
                                    <option selected="selected" value="received">Mensajes recibidos</option>
                                    <option value="sent">Mensajes enviados</option>
                                </select>
                                <button style="display: none" type="button" class="btn btn-primary" id="openSendMessageModal" data-toggle="modal" data-target="#sendMessageModal"></button>
                                <div class="modal fade" id="sendMessageModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <!-- Modal body -->
                                            <h3 style="color: #00766c; text-align: center">Mensaje nuevo</h3>
                                            <strong>Para:</strong>
                                            <div class="col-sm-12 inbox_receivers">
                                                <ul class="list-group">
                                                    {% for user in inbox_users %}
                                                        <li>
                                                            <input type="checkbox" value="{{ user.idUser }}" style="width: fit-content; margin-bottom: 6px; margin-top: 6px; margin-right: 6px;" name="new_inbox_receivers[]">
                                                            {{ user.firstname }} {{ user.lastname}} - {{ user.email}}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-sm-12 inbox_subject">
                                                <label for="message_subject">Asunto:</label>
                                                <textarea type="text" id="message_subject" name="message_subject" class="form-control" placeholder="Indica el asunto del mensaje"></textarea>
                                            </div>
                                            <div class="col-sm-12 inbox_content">
                                                <label for="message_content">Mensaje:</label>
                                                <textarea type="text" id="message_content" name="message_content" class="form-control" placeholder="Indica cuerpo del mensaje"></textarea>
                                            </div>
                                            <div class="col-sm-12 inbox_send">
                                                <input type="submit" name="submit" class="btn btn-primary" value="Enviar"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="inbox_received">
                                {% for inb in inbox %}
                                    <div class="col-sm-12 messenger-inbox-item">
                                        <div class="col-sm-11 inbox-details">
                                            <div class="col-sm-1">
                                                {% if inb.idUserTo == id_user and inb.messageRead == 0 %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16" style="width: 27px; height: 27px; margin-top: 5px; margin-left: -10px">
                                                        <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                                    </svg>
                                                {% elseif inb.idUserTo == id_user and inb.messageRead == 1 %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 16 16" style="width: 27px; height: 27px; margin-top: 5px; margin-left: -10px">
                                                        <path fill-rule="evenodd" d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882l-6-3.2ZM15 7.383l-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2Z"/>
                                                    </svg>
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-11">
                                                <p style="margin: 0"> <strong>{{ inbox_threads[inb.idMessage][0]['subject'] }}</strong>
                                                    <span>
                                            {{ inbox_threads[inb.idMessage][0]['firstname_user_from'] }} {{ inbox_threads[inb.idMessage][0]['lastname_user_from'] }}
                                            -  {{ inbox_threads[inb.idMessage][0]['email_user_from'] }}
                                            </span></p>
                                                <strong style="float: left"> {{ inb.dateAdd|date('Y-m-d H:i:s') }}</strong>
                                            </div>
                                        </div>
                                        <div class="col-sm-1 inbox-actions">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="width: 20px; height: 20px; margin-top: 8px;"
                                                 onclick="redirectTo('messenger','/'+{{ inb.idMessage }})">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                            </svg>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="inbox_sent" style="display: none">
                                {% for out in sent_inbox %}
                                    <div class="col-sm-12 messenger-inbox-item">
                                        <div class="col-sm-11 inbox-details">
                                            <div class="col-sm-1">
                                                {% if out.idUserFrom == id_user%}
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16" style="width: 27px; height: 27px; margin-top: 5px; margin-left: -10px">
                                                        <path fill-rule="evenodd" d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                                                    </svg>
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-11">
                                                <p style="margin: 0"> <strong>{{ sent_inbox_threads[out.idMessage][0]['subject'] }}</strong>
                                                    <span>
                                            {{ sent_inbox_threads[out.idMessage][0]['firstname_user_from'] }} {{ sent_inbox_threads[out.idMessage][0]['lastname_user_from'] }}
                                            -  {{ sent_inbox_threads[out.idMessage][0]['email_user_from'] }}
                                            </span></p>
                                                <strong style="float: left"> {{ out.dateAdd|date('Y-m-d H:i:s') }}</strong>
                                            </div>
                                        </div>
                                        <div class="col-sm-1 inbox-actions">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="width: 20px; height: 20px; margin-top: 8px;"
                                                 onclick="redirectTo('messenger','/'+{{ out.idMessage }})">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                            </svg>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-sm-8 messenger-block-thread">
                            <div class="col-sm-12 messages">
                                {% if id_message != 0 and id_message in inbox_threads|keys%}
                                    {% for message in inbox_threads[id_message] %}
                                            {% if  message['id_user_from'] == id_user %}
                                                <div class="message-left">
                                                    <div class="message-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" style="width: 25px;height: 25px">
                                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                                        </svg>
                                                    </div>
                                                    <div class="message-content">
                                                        <strong>{{ message['date_add']|date('Y-m-d H:i:s') }}</strong>
                                                        <p>{{ message['content'] }}</p>

                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="message-right">
                                                    <div class="message-content">
                                                        <strong>{{ message['date_add']|date('Y-m-d H:i:s') }}</strong>
                                                        <p>{{ message['content'] }}</p>
                                                    </div>
                                                    <div class="message-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" style="width: 25px;height: 25px">
                                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            {% endif %}
                                    {% endfor %}
                                {% elseif id_message != 0 and id_message in sent_inbox_threads|keys%}
                                    {% for message in sent_inbox_threads[id_message] %}
                                        {% if  message['id_user_from'] == id_user %}
                                            <div class="message-left">
                                                <div class="message-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" style="width: 25px;height: 25px">
                                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                                    </svg>
                                                </div>
                                                <div class="message-content">
                                                    <strong>{{ message['date_add']|date('Y-m-d H:i:s') }}</strong>
                                                    <p>{{ message['content'] }}</p>

                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="message-right">
                                                <div class="message-content">
                                                    <strong>{{ message['date_add']|date('Y-m-d H:i:s') }}</strong>
                                                    <p>{{ message['content'] }}</p>
                                                </div>
                                                <div class="message-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" style="width: 25px;height: 25px">
                                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                                    </svg>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-sm-12 message-reply">
                                {% if id_message != 0 %}
                                    <div class="inbox_content">
                                        <textarea type="text" id="reply_message_content" name="reply_message_content" class="form-control" placeholder="Indica cuerpo del mensaje"></textarea>
                                    </div>
                                    <div class="inbox_send">
                                        <input type="hidden" name="repply_id_message" value="{{ id_message }}">
                                        <input type="submit" name="submit" id="repply_message" class="btn btn-primary" style="display: none" value="Responder"/>
                                        <button type="submit" name="submit" class="btn btn-primary" value="Responder" onclick="replyMessage()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16" style="width: 3rem;height: 3rem;margin-top: 5px;">
                                                <path fill-rule="evenodd" d="M15.964.686a.5.5 0 0 0-.65-.65l-.095.038L.767 5.854l-.001.001-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.563 2.903.432.275.275.432 2.903 4.563.002.002.26.41a.5.5 0 0 0 .886-.083l.181-.453L15.926.78l.038-.095Zm-1.833 1.89.471-1.178-1.178.471L5.93 9.363l.338.215a.5.5 0 0 1 .154.154l.215.338 7.494-7.494Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    </html>
    {% include 'footer.html.twig' %}
{% endblock %}
