{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <header>
        <!-- Login Page stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/nutritionistpages.css') }}" />
    </header>
    <section id="default-header">
        {% include 'header.html.twig' %}
    </section>
    <section id="nutritionist-add-didactic-content">
        {% for message in  app.session.flashbag().get('editDidacticContentKOStatus') %}
            <div class="row" style="width: 93.5%; margin-left: 3.3%; margin-top: 10px; margin-bottom: -10px;">
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        {% for message in  app.session.flashbag().get('editDidacticContentOKStatus') %}
            <div class="row" style="width: 93.5%; margin-left: 3.3%; margin-top: 10px; margin-bottom: -10px;">
                <div class="alert alert-success" role="alert" style="margin-bottom: 0">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="container">
            <div id="add-didactic-content-block">
                <form class="form" action="{{ path("nutritionist_edit_didactic_content", {'id_entry':entry.idEntry}) }}" method="post">
                    <div class="col-sm-3">
                        <label for="title">Título:</label>
                        <input type="text" id="title" name="_title" class="form-control" required="required" value="{{ entry.title }}"/>
                        <label for="category">Categoría:</label>
                        <br/>
                        <select name="_category" id="category">
                            <option>-- Elija --</option>
                            {% for category in categories %}
                                <option value="{{ category.idCategory }}" {% if category.idCategory == entry.idCategory.idCategory %} selected="selected" {% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <br/>
                        <label for="description">Descripción:</label>
                        <br/>
                        <textarea type="text" id="description" name="_description" class="form-control" required="required">{{ entry.description }}</textarea>
                        <div class="save-button-item" style="width: 100%;">
                            <input class="btn save-button" type="submit" value="Guardar"/>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <label for="content">Contenido:</label>
                        <textarea type="text" id="content" name="_content" class="form-control" required="required">{{ entry.content }}</textarea>
                    </div>
                </form>
            </div>
        </div>
    </section>
    </html>
{% endblock %}
