{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <header>
        <!-- Login Page stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/nutritionistpages.css') }}" />
    </header>
    <section id="default-header">
        {% include 'header.html.twig' %}
    </section>
    <section id="nutritionist-add-customer">
        {% for message in  app.session.flashbag().get('addCustomerKOStatus') %}
            <div class="row" style="width: 91.3%; margin-left: 4.3%; margin-top: 10px; margin-bottom: -35px;">
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="container">
            <div class="col-sm-12">
                <div id="add-customer-block">
                    <form class="form" action="{{ path("nutritionist_edit_customer",{"id_user":id_user}) }}" method="post">
                        <div class="col-sm-6">
                            <div class="personal-data-header">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                                <h3 style="display: inline-flex">{{customer.firstname}} {{ customer.lastname }}</h3>
                            </div>
                            <br/>
                            <div class="personal-data-fields" style="margin-left: 10%; width: 100%; padding: 10px">
                                <label for="bibliografia">Descripción / Bibliografía:</label><textarea type="text" id="bibliografia" name="bibliografia" class="form-control" style="height: 8rem">{% if customer_metrics != false %}{{ customer.description }}{% endif %}</textarea>
                                <label for="objetivos">Objetivos:</label><textarea type="text" id="objetivos" name="objetivos" class="form-control" style="height: 5rem">{% if customer_metrics != false %}{{ customer_metrics.goals }}{% endif %}</textarea>
                                <p><strong>Rendimiento deportivo:</strong></p>
                                <div id="actividad" style="display: inline-flex; width: 85%">
                                    <label for="actividad"></label>
                                    <select id="actividad" name="actividad" class="form-select">
                                        <option value="1" {% if customer_metrics != false and customer_metrics.movement == 1 %}selected{% endif %}>Bajo</option>
                                        <option value="2" {% if customer_metrics != false and customer_metrics.movement == 2 %}selected{% endif %}>Moderado</option>
                                        <option value="3" {% if customer_metrics != false and customer_metrics.movement == 3 %}selected{% endif %}>Activo</option>
                                        <option value="3" {% if customer_metrics != false and customer_metrics.movement == 4 %}selected{% endif %}>Muy Activo</option>
                                    </select>
                                </div>
                                <p><strong>Metricas:</strong></p>
                                <div id="metricas" style="display: inline-flex; width: 90%">
                                    <label for="peso"></label><input type="number" id="peso" name="peso" class="form-control" placeholder="peso" value="{% if customer_metrics != false %}{{ customer_metrics.weight }}{% endif %}"/>
                                    <label for="altura"></label><input type="number" id="altura" name="altura" class="form-control" placeholder="altura" value="{% if customer_metrics != false %}{{ customer_metrics.height }}{% endif %}"/>
                                    <label for="edad"></label><input type="number" id="edad" name="edad" class="form-control" placeholder="edad" value="{% if customer_metrics != false %}{{ customer_metrics.age }}{% endif %}"/>
                                </div>
                                <label for="fat-percentage">% Grasa corporal:</label><input type="text" id="fat-percentage" name="fat_percentage" class="form-control" {% if customer_metrics != false %}value="{{ customer_metrics.fatPercentage }}"{% endif %}/>
                                <label for="muscle-percentage">% Masa muscular:</label><input type="text" id="muscle-percentage" name="muscle_percentage" class="form-control" {% if customer_metrics != false %}value="{{ customer_metrics.musclePercentage }}"{% endif %}/>
                                <label for="liquids-percentage">% Líquidos:</label><input type="text" id="liquids-percentage" name="liquids_percentage" class="form-control" {% if customer_metrics != false %}value="{{ customer_metrics.liquidPercentage }}"{% endif %}/>
                            </div>
                        </div>
                        <div class="col-sm-6" style="display: inline-flex; margin-top: 5.4%">
                            <div class="col-sm-12">
                                <strong>Ultimos registros</strong>
                                <div class="col-sm-12 customer-metrics-records">
                                    {% if all_customer_metrics != false %}
                                        {% for metrics in all_customer_metrics %}
                                            <div class="alert record" role="alert">
                                                <span>
                                                    <strong>{{ metrics.dateAdd|date('Y-m-d H:i:s') }}</strong>
                                                    <p style="margin-bottom: 5px">Peso: {{ metrics.weight }} kg; Altura: {{ metrics.height }} cm; Edad: {{ metrics.age }} años;
                                                        % Grasa corporal: {{ metrics.fatPercentage }} %; % Masa muscular: {{ metrics.musclePercentage }} %; % Líquidos: {{ metrics.liquidPercentage }} %
                                                    </p>
                                                    <p>Rendimiento deportivo: {% if metrics.movement == 1 %}Bajo{% elseif metrics.movement == 2 %}Moderado{% elseif metrics.movement == 3 %}Activo{% elseif metrics.movement == 4 %}Muy Activo{% endif %}</p>
                                                    <p>Objetivos: {% if metrics.goals != "" %}{{ metrics.goals }}{% else %}Sin definir{% endif %}</p>
                                                </span>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="alert alert-info" role="alert">
                                            No hay registros para este cliente
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="display: inline-flex">
                            <div class="save-button-item" style="width: 100%; padding: 10px">
                                <input class="btn save-button" type="submit" value="Guardar"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    </html>
{% endblock %}
