{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <header>
        <!-- Login Page stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/nutritionistpages.css') }}" />
    </header>
    <section id="default-header">
        {% include 'header.html.twig' %}
    </section>
    <section id="nutritionist-add-didactic-content">
        {% for message in  app.session.flashbag().get('editDidacticContentKOStatus') %}
            <div class="row" style="width: 93.5%; margin-left: 3.3%; margin-top: 10px; margin-bottom: -10px;">
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        {% for message in  app.session.flashbag().get('editDidacticContentOKStatus') %}
            <div class="row" style="width: 93.5%; margin-left: 3.3%; margin-top: 10px; margin-bottom: -10px;">
                <div class="alert alert-success" role="alert" style="margin-bottom: 0">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="container">
            <div id="add-didactic-content-block">
                <form class="form" action="{{ path("nutritionist_edit_didactic_content", {'id_entry':entry.idEntry}) }}" method="post">
                    <div class="col-sm-3">
                        <label for="title">Título:</label>
                        <input type="text" id="title" name="_title" class="form-control" required="required" value="{{ entry.title }}"/>
                        <label for="category">Categoría:</label>
                        <br/>
                        <select name="_category" id="category">
                            <option>-- Elija --</option>
                            {% for category in categories %}
                                <option value="{{ category.idCategory }}" {% if category.idCategory == entry.idCategory.idCategory %} selected="selected" {% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <br/>
                        <div id="didactic-tags" class="col-sm-12">
                            <strong>Tags:
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16" style="width: 15px; height: 15px; margin-bottom: -3px"
                                     onclick="openModal('openMyInfoTagsModal')">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg>
                            </strong>
                            <button style="display: none" type="button" class="btn btn-primary" id="openMyInfoTagsModal" data-toggle="modal" data-target="#infoTagsModal"></button>
                            <div class="modal fade" id="infoTagsModal">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="height: 15rem;width: 50rem;padding: 40px 30px;">
                                        <!-- Modal body -->
                                        <span>Etiqueta tus recetas añadiendo los tags deseados por nivel. Para obtener más informacion sobre un tag, modificar o crear uno accede a la configuracion de tu perfil o haz click <a href="#">aqui</a></span>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group" id="add_tags">
                                {% for tag in tags %}
                                    <li>
                                        <input type="checkbox" value="{{ tag.idTag }}" {% if tag.idTag in entry_tags_keys|keys %} checked {% endif %}
                                               style="width: fit-content; margin-bottom: 10px; margin-top: 10px" name="add_tags[{{ tag.idTag }}][]">
                                        Nivel {{ tag.level }} - {{ tag.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <label for="description">Descripción:</label>
                        <br/>
                        <textarea type="text" id="description" name="_description" class="form-control" required="required">{{ entry.description }}</textarea>
                        <div class="save-button-item" style="width: 100%;">
                            <input class="btn save-button" type="submit" value="Guardar"/>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <label for="content">Contenido:</label>
                        <textarea type="text" id="content" name="_content" class="form-control" required="required">{{ entry.content }}</textarea>
                    </div>
                </form>
            </div>
        </div>
    </section>
    </html>
{% endblock %}
