{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <header>
        <!-- Login Page stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/nutritionistpages.css') }}" />
    </header>
    <section id="default-header">
        {% include 'header.html.twig' %}
    </section>
    <section id="nutritionist-diary">
        {% for message in  app.session.flashbag().get('nutritionistDiaryKOStatus') %}
        <div class="row" style="width: 93.5%; margin-left: 3.3%; margin-top: 10px; margin-bottom: -10px;">
            <div class="alert alert-danger" role="alert" style="margin-bottom: 0">
                {{ message }}
            </div>
        </div>
        {% endfor %}
        <div class="container">
            <div class="col-sm-12">
                <div id="diary-block">
                    <form class="form" action="{{ path("nutritionist_diary") }}" method="post">
                        <div class="col-sm-6">
                            <h3>
                                {% if today_datetime != false %}{{ today_datetime|date('l', "Europe/Paris") }} - {{ today_datetime|date('d', "Europe/Paris") }} de {{ today_datetime|date('F', "Europe/Paris") }}
                                {% else %}
                                {{ 'now'|date('l', "Europe/Paris") }} - {{ 'now'|date('d', "Europe/Paris") }} de {{ 'now'|date('F', "Europe/Paris") }}
                                {% endif %}
                            </h3>
                            <div id="todays-tasks">
                                <h3>Tareas para hoy:</h3>
                                <textarea type="text" id="todays_tasks" name="todays_tasks" required="required">{% if diaryPage != false %}{{ diaryPage.tasks }}{% endif %}</textarea>
                            </div>
                            <div class="save-button-item" style="width: 100%;">
                                <input class="btn save-button" type="submit" name="submit" value="Guardar"/>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding: 0px 20px">
                            <input type="date" id="date-filter" name="date_filter" class="form-control" value="{{ today_datetime|date('Y-m-d', "Europe/Paris") }}"/>
                            <input class="btn btn-outline-success" type="submit" name="submit" value="Buscar"/>
                            <div id="todays-events">
                                <h3>Eventos de hoy:</h3>
                                <textarea type="text" id="todays_events" name="todays_events" required="required">{% if diaryPage != false %}{{ diaryPage.events }}{% endif %}</textarea>
                            </div>
                            <div id="todays-memos">
                                <h3 style="color: white">Recordatorios y notas:</h3>
                                <textarea type="text" id="todays_memos" name="todays_memos" required="required">{% if diaryPage != false %}{{ diaryPage.memosAndNotes }}{% endif %}</textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    </html>
{% endblock %}
