{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <header>
        <!-- Login Page stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/nutritionistpages.css') }}" />
    </header>
    <section id="default-header">
        {% include 'header.html.twig' %}
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/wizard-plan-form.css') }}" />
        <!-- Wizard Form JS -->
        <script src="{{ asset('bundles/framework/js/wizard-plan.js') }}"></script>
    </section>
    <section id="nutritionist-weekly-plan">
        {% for message in  app.session.flashbag().get('editWeeklyPlanWarnings') %}
            <div class="row" style="width: 92%; margin-left: 4%; margin-top: 10px; margin-bottom: 0;">
                <div class="alert alert-warning" role="alert" style="margin-bottom: 0">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        {% for message in  app.session.flashbag().get('editWeeklyPlanKOStatus') %}
            <div class="row" style="width: 92%; margin-left: 4%; margin-top: 10px; margin-bottom: 0;">
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        {% for message in app.session.flashbag().get('editWeeklyPlanOKStatus') %}
            <div class="row" style="width: 92%; margin-left: 4%; margin-top: 10px; margin-bottom: 0;">
                <div class="alert alert-success" role="alert" style="margin-bottom: 0">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="container">
            <!-- Añadimos un novalidate debido a los contenedores ocultos, mostraremos el error con la variable de sesion -->
            <form id="msform" class="form" action="{{ path("nutritionist_edit_weekly_plan", {id_plan:weeklyPlan.idPlan}) }}" method="post" novalidate>
                <div class="col-sm-12">
                    <div id="weekly-plan-content-block" style="height: 15rem; margin-bottom: 20px">
                        <div class="col-sm-6">
                            <label>Tags:</label>
                            <ul class="list-group" id="weekly_plan_tags">
                                {% for tag in tags %}
                                    <li>
                                        <input type="checkbox" value="{{ tag.idTag }}" {% if tag.idTag in weekly_plan_tags_keys %} checked {% endif %}
                                               style="width: fit-content; margin-bottom: 5px; margin-top: 5px" name="add_tags[{{ tag.idTag }}][]">
                                        Nivel {{ tag.level }} - {{ tag.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <label for="plan_title">Tile:</label>
                            <textarea type="text" id="plan_title" name="plan_title" class="form-control">{{ weeklyPlan.title }}</textarea>
                            <label for="plan_description">Descripción:</label>
                            <textarea type="text" id="plan_description" name="plan_description" class="form-control" style="height: 5.5rem">{{ weeklyPlan.description }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div id="weekly-plan-content-block">
                        <div class="col-sm-12">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="monday"><strong>Lunes</strong></li>
                                <li id="tuesday"><strong>Martes</strong></li>
                                <li id="wednesday"><strong>Miércoles</strong></li>
                                <li id="thursday"><strong>Jueves</strong></li>
                                <li id="friday"><strong>Viernes</strong></li>
                                <li id="saturday"><strong>Sábado</strong></li>
                                <li id="sunday"><strong>Domingo</strong></li>
                            </ul>

                            <!-- LUNES -->
                            <fieldset>
                                <div class="form-card">
                                    <div class="col-sm-9 ">
                                        <div id="meals-buttons">
                                            <button style="margin-left: 1px" class="btn btn-primary day-meal-button day-meal-button-active" type="button">Desayuno</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Snack</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Almuerzo</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Merienda</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Cena</button>
                                        </div>
                                        <div class="day-plan-breakfast day-plan day-meal-visible">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="breakfast_hour_monday" value="{% if monday_breakfast != false %}{{ monday_breakfast.hour }}{% else %}08:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="breakfast_menu_monday" class="form-control" style="height: 430px">{% if monday_breakfast != false %}{{ monday_breakfast.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="breakfast_list_monday" class="form-control" style="height: 225px">{% if monday_breakfast != false %}{{ monday_breakfast.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="breakfast_comments_monday" class="form-control" style="height: 186px">{% if monday_breakfast != false %}{{ monday_breakfast.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-snack day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="snack_hour_monday" value="{% if monday_snack != false %}{{ monday_snack.hour }}{% else %}11:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="snack_menu_monday" class="form-control" style="height: 430px">{% if monday_snack != false %}{{ monday_snack.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="snack_list_monday" class="form-control" style="height: 225px">{% if monday_snack != false %}{{ monday_snack.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="snack_comments_monday" class="form-control" style="height: 186px">{% if monday_snack != false %}{{ monday_snack.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-lunch day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="lunch_hour_monday" value="{% if monday_lunch != false %}{{ monday_lunch.hour }}{% else %}14:00{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="lunch_menu_monday" class="form-control" style="height: 430px">{% if monday_lunch != false %}{{ monday_lunch.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="lunch_list_monday" class="form-control" style="height: 225px">{% if monday_lunch != false %}{{ monday_lunch.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="lunch_comments_monday" class="form-control" style="height: 186px">{% if monday_lunch != false %}{{ monday_lunch.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-afternoon day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="afternoon_hour_monday" value="{% if monday_afternoon != false %}{{ monday_afternoon.hour }}{% else %}17:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="afternoon_menu_monday" class="form-control" style="height: 430px">{% if monday_afternoon != false %}{{ monday_afternoon.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="afternoon_list_monday" class="form-control" style="height: 225px">{% if monday_afternoon != false %}{{ monday_afternoon.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="afternoon_comments_monday" class="form-control" style="height: 186px">{% if monday_afternoon != false %}{{ monday_afternoon.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-dinner day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="dinner_hour_monday" value="{% if monday_dinner != false %}{{ monday_dinner.hour }}{% else %}21:00{% endif %}" min="09:00" max="22:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="dinner_menu_monday" class="form-control" style="height: 430px">{% if monday_dinner != false %}{{ monday_dinner.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="dinner_list_monday" class="form-control" style="height: 225px">{% if monday_dinner != false %}{{ monday_dinner.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="dinner_comments_monday" class="form-control" style="height: 186px">{% if monday_dinner != false %}{{ monday_dinner.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="workout-rest">
                                            <input type="checkbox" value="1" style="width: fit-content; margin-bottom: 10px; margin-top: 10px; margin-right: 10px" name="monday_workout_rest" id="monday-workout-rest" {% if monday_workout == false %} checked {% endif %} onclick="restDay('monday')"><strong>Descanso</strong>
                                        </div>
                                        <div class="monday-workout"  {% if monday_workout == false %} style="display: none" {% endif %}>
                                            <br/>
                                            <label for="monday_workout_sort">Tipo de entrenamiento:</label>
                                            <select name="monday_workout_sort" id="monday_workout_sort">
                                                <option value="Fuerza Tren Superior">Fuerza Tren Superior</option>
                                                <option value="Fuerza Tren Inferior">Fuerza Tren Inferior</option>
                                                <option value="Cardio">Cardio</option>
                                                <option value="HIIT">HIIT</option>
                                                <option value="Relajacion">Relajación</option>
                                            </select>
                                            <br/><br/>
                                            <label for="monday_workout_time">Hora:</label>
                                            <input type="time" name="monday_workout_time" value="{% if monday_workout != false %}{{ monday_workout.hour|date('H:i:s') }}{% endif %}" style="width: fit-content">
                                            <label for="monday-workout">Entrenamiento:</label>
                                            <textarea type="text" id="monday-workout" name="monday_workout" class="form-control" style="height: 150px">{% if monday_workout != false %}{{ monday_workout.workout }}{% endif %}</textarea>
                                            <br/>
                                            <ul class="list-group" id="monday-workout-exercises">
                                                {% for exercise in exercises %}
                                                    <li>
                                                        <input type="checkbox" value="{{ exercise.idExercise }}" style="width: fit-content; margin-bottom: 10px; margin-top: 10px" name="monday_workout_exercises[{{ exercise.idExercise }}][]" {% if monday_workout != false and exercise.idExercise in monday_workout_exercises %}checked{% endif %}>
                                                        {{ exercise.title }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <label for="monday-workout-notes">Observaciones:</label>
                                            <textarea type="text" id="monday-workout-notes" name="monday_workout_notes" class="form-control" style="height: 80px">{% if monday_workout != false %}{{ monday_workout.workoutNotes }}{% endif %}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" name="next" class="next action-button" value="Siguiente"/>
                            </fieldset>
                            <!-- MARTES -->
                            <fieldset>
                                <div class="form-card">
                                    <div class="col-sm-9 ">
                                        <div id="meals-buttons">
                                            <button style="margin-left: 1px" class="btn btn-primary day-meal-button day-meal-button-active" type="button">Desayuno</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Snack</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Almuerzo</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Merienda</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Cena</button>
                                        </div>
                                        <div class="day-plan-breakfast day-plan day-plan-visible">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="breakfast_hour_tuesday" value="{% if tuesday_breakfast != false %}{{ tuesday_breakfast.hour }}{% else %}08:00{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="breakfast_menu_tuesday" class="form-control" style="height: 430px">{% if tuesday_breakfast != false %}{{ tuesday_breakfast.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="breakfast_list_tuesday" class="form-control" style="height: 225px">{% if tuesday_breakfast != false %}{{ tuesday_breakfast.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="breakfast_comments_tuesday" class="form-control" style="height: 186px">{% if tuesday_breakfast != false %}{{ tuesday_breakfast.mealShoppingList }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-snack day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="snack_hour_tuesday" value="{% if tuesday_snack != false %}{{ tuesday_snack.hour }}{% else %}11:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="snack_menu_tuesday" class="form-control" style="height: 430px">{% if tuesday_snack != false %}{{ tuesday_snack.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="snack_list_tuesday" class="form-control" style="height: 225px">{% if tuesday_snack != false %}{{ tuesday_snack.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="snack_comments_tuesday" class="form-control" style="height: 186px">{% if tuesday_snack != false %}{{ tuesday_snack.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-lunch day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="lunch_hour_tuesday" value="{% if tuesday_lunch != false %}{{ tuesday_lunch.hour }}{% else %}14:00{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="lunch_menu_tuesday" class="form-control" style="height: 430px">{% if tuesday_lunch != false %}{{ tuesday_lunch.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="lunch_list_tuesday" class="form-control" style="height: 225px">{% if tuesday_lunch != false %}{{ tuesday_lunch.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="lunch_comments_tuesday" class="form-control" style="height: 186px">{% if tuesday_lunch != false %}{{ tuesday_lunch.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-afternoon day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="afternoon_hour_tuesday" value="{% if tuesday_afternoon != false %}{{ tuesday_afternoon.hour }}{% else %}17:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="afternoon_menu_tuesday" class="form-control" style="height: 430px">{% if tuesday_afternoon != false %}{{ tuesday_afternoon.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="afternoon_list_tuesday" class="form-control" style="height: 225px">{% if tuesday_afternoon != false %}{{ tuesday_afternoon.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="afternoon_comments_tuesday" class="form-control" style="height: 186px">{% if tuesday_afternoon != false %}{{ tuesday_afternoon.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-dinner day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="dinner_hour_tuesday" value="{% if tuesday_dinner != false %}{{ tuesday_dinner.hour }}{% else %}21:00{% endif %}" min="09:00" max="22:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="dinner_menu_tuesday" class="form-control" style="height: 430px">{% if tuesday_dinner != false %}{{ tuesday_dinner.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="dinner_list_tuesday" class="form-control" style="height: 225px">{% if tuesday_dinner != false %}{{ tuesday_dinner.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="dinner_comments_tuesday" class="form-control" style="height: 186px">{% if tuesday_dinner != false %}{{ tuesday_dinner.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="workout-rest">
                                            <input type="checkbox" value="1" style="width: fit-content; margin-bottom: 10px; margin-top: 10px; margin-right: 10px" name="tuesday_workout_rest" id="tuesday-workout-rest"  {% if tuesday_workout == false %} checked {% endif %}onclick="restDay('tuesday')"><strong>Descanso</strong>
                                        </div>
                                        <div class="tuesday-workout" {% if tuesday_workout == false %} style="display: none" {% endif %}>
                                            <br/>
                                            <label for="tuesday_workout_sort">Tipo de entrenamiento:</label>
                                            <select name="tuesday_workout_sort" id="tuesday_workout_sort">
                                                <option value="Fuerza Tren Superior">Fuerza Tren Superior</option>
                                                <option value="Fuerza Tren Inferior">Fuerza Tren Inferior</option>
                                                <option value="Cardio">Cardio</option>
                                                <option value="HIIT">HIIT</option>
                                                <option value="Relajacion">Relajación</option>
                                            </select>
                                            <br/><br/>
                                            <label for="tuesday_workout_time">Hora:</label>
                                            <input type="time" name="tuesday_workout_time" value="{% if tuesday_workout != false %}{{ tuesday_workout.hour|date('H:i:s') }}{% endif %}" style="width: fit-content">
                                            <label for="tuesday-workout">Entrenamiento:</label>
                                            <textarea type="text" id="tuesday-workout" name="tuesday_workout" class="form-control" style="height: 150px">{% if tuesday_workout != false %}{{ tuesday_workout.workout }}{% endif %}</textarea>
                                            <br/>
                                            <ul class="list-group" id="tuesday-workout-exercises">
                                                {% for exercise in exercises %}
                                                    <li>
                                                        <input type="checkbox" value="{{ exercise.idExercise }}" style="width: fit-content; margin-bottom: 10px; margin-top: 10px" name="tuesday_workout_exercises[{{ exercise.idExercise }}][]" {% if tuesday_workout != false and exercise.idExercise in tuesday_workout_exercises %}checked{% endif %}>
                                                        {{ exercise.title }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <label for="tuesday-workout-notes">Observaciones:</label>
                                            <textarea type="text" id="tuesday-workout-notes" name="tuesday_workout_notes" class="form-control" style="height: 80px">{% if tuesday_workout != false %}{{ tuesday_workout.workoutNotes }}{% endif %}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Previo"/>
                                <input type="button" name="next" class="next action-button" value="Siguiente"/>
                            </fieldset>
                            <!-- MIERCOLES -->
                            <fieldset>
                                <div class="form-card">
                                    <div class="col-sm-9 ">
                                        <div id="meals-buttons">
                                            <button style="margin-left: 1px" class="btn btn-primary day-meal-button day-meal-button-active" type="button">Desayuno</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Snack</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Almuerzo</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Merienda</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Cena</button>
                                        </div>
                                        <div class="day-plan-breakfast day-plan day-meal-visible">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="breakfast_hour_wednesday" value="{% if wednesday_breakfast != false %}{{ wednesday_breakfast.hour }}{% else %}08:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="breakfast_menu_wednesday" class="form-control" style="height: 430px">{% if wednesday_breakfast != false %}{{ wednesday_breakfast.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="breakfast_list_wednesday" class="form-control" style="height: 225px">{% if wednesday_breakfast != false %}{{ wednesday_breakfast.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="breakfast_comments_wednesday" class="form-control" style="height: 186px">{% if wednesday_breakfast != false %}{{ wednesday_breakfast.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-snack day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="snack_hour_wednesday" value="{% if wednesday_snack != false %}{{ wednesday_snack.hour }}{% else %}11:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="snack_menu_wednesday" class="form-control" style="height: 430px">{% if wednesday_snack != false %}{{ wednesday_snack.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="snack_list_wednesday" class="form-control" style="height: 225px">{% if wednesday_snack != false %}{{ wednesday_snack.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="snack_comments_wednesday" class="form-control" style="height: 186px"><{% if wednesday_snack != false %}{{ wednesday_snack.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-lunch day-plan">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="lunch_hour_wednesday" value="{% if wednesday_lunch != false %}{{ wednesday_lunch.hour }}{% else %}14:00{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="lunch_menu_wednesday" class="form-control" style="height: 430px">{% if wednesday_lunch != false %}{{ wednesday_lunch.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="lunch_list_wednesday" class="form-control" style="height: 225px">{% if wednesday_lunch != false %}{{ wednesday_lunch.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="lunch_comments_wednesday" class="form-control" style="height: 186px">{% if wednesday_lunch != false %}{{ wednesday_lunch.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-afternoon day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="afternoon_hour_wednesday" value="{% if wednesday_afternoon != false %}{{ wednesday_afternoon.hour }}{% else %}17:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="afternoon_menu_wednesday" class="form-control" style="height: 430px">{% if wednesday_afternoon != false %}{{ wednesday_afternoon.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="afternoon_list_wednesday" class="form-control" style="height: 225px">{% if wednesday_afternoon != false %}{{ wednesday_afternoon.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="afternoon_comments_wednesday" class="form-control" style="height: 186px">{% if wednesday_afternoon != false %}{{ wednesday_afternoon.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-dinner day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="dinner_hour_wednesday" value="{% if wednesday_dinner != false %}{{ wednesday_dinner.hour }}{% else %}21:00{% endif %}" min="09:00" max="22:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="dinner_menu_wednesday" class="form-control" style="height: 430px">{% if wednesday_dinner != false %}{{ wednesday_dinner.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="dinner_list_wednesday" class="form-control" style="height: 225px">{% if wednesday_dinner != false %}{{ wednesday_dinner.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="dinner_comments_wednesday" class="form-control" style="height: 186px">{% if wednesday_dinner != false %}{{ wednesday_dinner.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="workout-rest">
                                            <input type="checkbox" value="1" style="width: fit-content; margin-bottom: 10px; margin-top: 10px; margin-right: 10px" name="wednesday_workout_rest" id="wednesday-workout-rest" {% if wednesday_workout == false %} checked {% endif %}onclick="restDay('wednesday')"><strong>Descanso</strong>
                                        </div>
                                        <div class="wednesday-workout" {% if wednesday_workout == false %} style="display: none"{% endif %}>
                                            <br/>
                                            <label for="wednesday_workout_sort">Tipo de entrenamiento:</label>
                                            <select name="wednesday_workout_sort" id="wednesday_workout_sort">
                                                <option value="Fuerza Tren Superior">Fuerza Tren Superior</option>
                                                <option value="Fuerza Tren Inferior">Fuerza Tren Inferior</option>
                                                <option value="Cardio">Cardio</option>
                                                <option value="HIIT">HIIT</option>
                                                <option value="Relajacion">Relajación</option>
                                            </select>
                                            <br/><br/>
                                            <label for="wednesday_workout_time">Hora:</label>
                                            <input type="time" name="wednesday_workout_time" value="{% if wednesday_workout != false %}{{ wednesday_workout.hour|date('H:i:s') }}{% endif %}" style="width: fit-content">
                                            <label for="wednesday-workout">Entrenamiento:</label>
                                            <textarea type="text" id="wednesday-workout" name="wednesday_workout" class="form-control" style="height: 150px">{% if wednesday_workout != false %}{{ wednesday_workout.workout }}{% endif %}</textarea>
                                            <br/>
                                            <ul class="list-group" id="wednesday-workout-exercises">
                                                {% for exercise in exercises %}
                                                    <li>
                                                        <input type="checkbox" value="{{ exercise.idExercise }}" style="width: fit-content; margin-bottom: 10px; margin-top: 10px" name="wednesday_workout_exercises[{{ exercise.idExercise }}][]" {% if wednesday_workout != false and exercise.idExercise in wednesday_workout_exercises %}checked{% endif %}>
                                                        {{ exercise.title }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <label for="wednesday-workout-notes">Observaciones:</label>
                                            <textarea type="text" id="wednesday-workout-notes" name="wednesday_workout_notes" class="form-control" style="height: 80px">{% if wednesday_workout != false %}{{ wednesday_workout.workoutNotes }}{% endif %}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Previo"/>
                                <input type="button" name="next" class="next action-button" value="Siguiente"/>
                            </fieldset>
                            <!-- JUEVES -->
                            <fieldset>
                                <div class="form-card">
                                    <div class="col-sm-9 ">
                                        <div id="meals-buttons">
                                            <button style="margin-left: 1px" class="btn btn-primary day-meal-button day-meal-button-active" type="button">Desayuno</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Snack</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Almuerzo</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Merienda</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Cena</button>
                                        </div>
                                        <div class="day-plan-breakfast day-plan day-meal-visible">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="breakfast_hour_thursday" value="{% if thursday_breakfast != false %}{{ thursday_breakfast.hour }}{% else %}08:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="breakfast_menu_thursday" class="form-control" style="height: 430px">{% if thursday_breakfast != false %}{{ thursday_breakfast.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="breakfast_list_thursday" class="form-control" style="height: 225px">{% if thursday_breakfast != false %}{{ thursday_breakfast.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="breakfast_comments_thursday" class="form-control" style="height: 186px">{% if thursday_breakfast != false %}{{ thursday_breakfast.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-snack day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="snack_hour_thursday" value="{% if thursday_snack != false %}{{ thursday_snack.hour }}{% else %}21:00{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="snack_menu_thursday" class="form-control" style="height: 430px">{% if thursday_snack != false %}{{ thursday_snack.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="snack_list_thursday" class="form-control" style="height: 225px">{% if thursday_snack != false %}{{ thursday_snack.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="snack_comments_thursday" class="form-control" style="height: 186px">{% if thursday_snack != false %}{{ thursday_snack.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-lunch day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="lunch_hour_thursday" value="{% if thursday_lunch != false %}{{ thursday_lunch.hour }}{% else %}21:00{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="lunch_menu_thursday" class="form-control" style="height: 430px">{% if thursday_lunch != false %}{{ thursday_lunch.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="lunch_list_thursday" class="form-control" style="height: 225px">{% if thursday_lunch != false %}{{ thursday_lunch.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="lunch_comments_thursday" class="form-control" style="height: 186px">{% if thursday_lunch != false %}{{ thursday_lunch.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-afternoon day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="afternoon_hour_thursday" value="{% if thursday_afternoon != false %}{{ thursday_afternoon.hour }}{% else %}21:00{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="afternoon_menu_thursday" class="form-control" style="height: 430px">{% if thursday_afternoon != false %}{{ thursday_afternoon.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="afternoon_list_thursday" class="form-control" style="height: 225px">{% if thursday_afternoon != false %}{{ thursday_afternoon.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="afternoon_comments_thursday" class="form-control" style="height: 186px">{% if thursday_afternoon != false %}{{ thursday_afternoon.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-dinner day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="dinner_hour_thursday" value="{% if thursday_dinner != false %}{{ thursday_dinner.hour }}{% else %}21:00{% endif %}" min="09:00" max="22:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="dinner_menu_thursday" class="form-control" style="height: 430px">{% if thursday_dinner != false %}{{ thursday_dinner.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="dinner_list_thursday" class="form-control" style="height: 225px">{% if thursday_dinner != false %}{{ thursday_dinner.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="dinner_comments_thursday" class="form-control" style="height: 186px">{% if thursday_dinner != false %}{{ thursday_dinner.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="workout-rest">
                                            <input type="checkbox" value="1" style="width: fit-content; margin-bottom: 10px; margin-top: 10px; margin-right: 10px" name="thursday_workout_rest" id="thursday-workout-rest" {% if thursday_workout == false %} checked {% endif %} onclick="restDay('thursday')"><strong>Descanso</strong>
                                        </div>
                                        <div class="thursday-workout" {% if thursday_workout == false %} style="display: none"{% endif %}>
                                            <br/>
                                            <label for="thursday_workout_sort">Tipo de entrenamiento:</label>
                                            <select name="thursday_workout_sort" id="thursday_workout_sort">
                                                <option value="Fuerza Tren Superior">Fuerza Tren Superior</option>
                                                <option value="Fuerza Tren Inferior">Fuerza Tren Inferior</option>
                                                <option value="Cardio">Cardio</option>
                                                <option value="HIIT">HIIT</option>
                                                <option value="Relajacion">Relajación</option>
                                            </select>
                                            <br/><br/>
                                            <label for="thursday_workout_time">Hora:</label>
                                            <input type="time" name="thursday_workout_time" value="{% if thursday_workout != false %}{{ thursday_workout.hour|date('H:i:s') }}{% endif %}" style="width: fit-content">
                                            <label for="thursday-workout">Entrenamiento:</label>
                                            <textarea type="text" id="thursday-workout" name="thursday_workout" class="form-control" style="height: 150px">{% if thursday_workout != false %}{{ thursday_workout.workout }}{% endif %}</textarea>
                                            <br/>
                                            <ul class="list-group" id="thursday-workout-exercises">
                                                {% for exercise in exercises %}
                                                    <li>
                                                        <input type="checkbox" value="{{ exercise.idExercise }}" style="width: fit-content; margin-bottom: 10px; margin-top: 10px" name="thursday_workout_exercises[{{ exercise.idExercise }}][]" {% if thursday_workout != false and exercise.idExercise in thursday_workout_exercises %}checked{% endif %}>
                                                        {{ exercise.title }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <label for="thursday-workout-notes">Observaciones:</label>
                                            <textarea type="text" id="thursday-workout-notes" name="thursday_workout_notes" class="form-control" style="height: 80px">{% if thursday_workout != false %}{{ thursday_workout.workoutNotes }}{% endif %}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Previo"/>
                                <input type="button" name="next" class="next action-button" value="Siguiente"/>
                            </fieldset>
                            <!-- VIERNES -->
                            <fieldset>
                                <div class="form-card">
                                    <div class="col-sm-9 ">
                                        <div id="meals-buttons">
                                            <button style="margin-left: 1px" class="btn btn-primary day-meal-button day-meal-button-active" type="button">Desayuno</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Snack</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Almuerzo</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Merienda</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Cena</button>
                                        </div>
                                        <div class="day-plan-breakfast day-plan day-meal-visible">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="breakfast_hour_friday" value="{% if friday_breakfast != false %}{{ friday_breakfast.hour }}{% else %}08:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="breakfast_menu_friday" class="form-control" style="height: 430px">{% if friday_breakfast != false %}{{ friday_breakfast.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="breakfast_list_friday" class="form-control" style="height: 225px">{% if friday_breakfast != false %}{{ friday_breakfast.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="breakfast_comments_friday" class="form-control" style="height: 186px">{% if friday_breakfast != false %}{{ friday_breakfast.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-snack day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="snack_hour_friday" value="{% if friday_snack != false %}{{ friday_snack.hour }}{% else %}11:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="snack_menu_friday" class="form-control" style="height: 430px">{% if friday_snack != false %}{{ friday_snack.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="snack_list_friday" class="form-control" style="height: 225px">{% if friday_snack != false %}{{ friday_snack.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="snack_comments_friday" class="form-control" style="height: 186px">{% if friday_snack != false %}{{ friday_snack.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-lunch day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="lunch_hour_friday" value="{% if friday_lunch != false %}{{ friday_lunch.hour }}{% else %}14:00{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="lunch_menu_friday" class="form-control" style="height: 430px">{% if friday_lunch != false %}{{ friday_lunch.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="lunch_list_friday" class="form-control" style="height: 225px">{% if friday_lunch != false %}{{ friday_lunch.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="lunch_comments_friday" class="form-control" style="height: 186px">{% if friday_lunch != false %}{{ friday_lunch.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-afternoon day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="afternoon_hour_friday" value="{% if friday_afternoon != false %}{{ friday_afternoon.hour }}{% else %}17:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="afternoon_menu_friday" class="form-control" style="height: 430px">{% if friday_afternoon != false %}{{ friday_afternoon.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="afternoon_list_friday" class="form-control" style="height: 225px">{% if friday_afternoon != false %}{{ friday_afternoon.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="afternoon_comments_friday" class="form-control" style="height: 186px">{% if friday_afternoon != false %}{{ friday_afternoon.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-dinner day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="dinner_hour_friday" value="{% if friday_dinner != false %}{{ friday_dinner.hour }}{% else %}21:00{% endif %}" min="09:00" max="22:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="dinner_menu_friday" class="form-control" style="height: 430px">{% if friday_dinner != false %}{{ friday_dinner.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="dinner_list_friday" class="form-control" style="height: 225px">{% if friday_dinner != false %}{{ friday_dinner.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="dinner_comments_friday" class="form-control" style="height: 186px">{% if friday_dinner != false %}{{ friday_dinner.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="workout-rest">
                                            <input type="checkbox" value="1" style="width: fit-content; margin-bottom: 10px; margin-top: 10px; margin-right: 10px" name="friday_workout_rest" id="friday-workout-rest" {% if friday_workout == false %} checked {% endif %} onclick="restDay('friday')"><strong>Descanso</strong>
                                        </div>
                                        <div class="friday-workout" {% if friday_workout == false %} style="display: none"{% endif %}>
                                            <br/>
                                            <label for="friday_workout_sort">Tipo de entrenamiento:</label>
                                            <select name="friday_workout_sort" id="friday_workout_sort">
                                                <option value="Fuerza Tren Superior">Fuerza Tren Superior</option>
                                                <option value="Fuerza Tren Inferior">Fuerza Tren Inferior</option>
                                                <option value="Cardio">Cardio</option>
                                                <option value="HIIT">HIIT</option>
                                                <option value="Relajacion">Relajación</option>
                                            </select>
                                            <br/><br/>
                                            <label for="friday_workout_time">Hora:</label>
                                            <input type="time" name="friday_workout_time" value="{% if friday_workout != false %}{{ friday_workout.hour|date('H:i:s') }}{% endif %}" style="width: fit-content">
                                            <label for="friday-workout">Entrenamiento:</label>
                                            <textarea type="text" id="friday-workout" name="friday_workout" class="form-control" style="height: 150px">{% if friday_workout != false %}{{ friday_workout.workout }}{% endif %}</textarea>
                                            <br/>
                                            <ul class="list-group" id="friday-workout-exercises">
                                                {% for exercise in exercises %}
                                                    <li>
                                                        <input type="checkbox" value="{{ exercise.idExercise }}" style="width: fit-content; margin-bottom: 10px; margin-top: 10px" name="friday_workout_exercises[{{ exercise.idExercise }}][]" {% if friday_workout != false and exercise.idExercise in friday_workout_exercises %}checked{% endif %}>
                                                        {{ exercise.title }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <label for="friday-workout-notes">Observaciones:</label>
                                            <textarea type="text" id="friday-workout-notes" name="friday_workout_notes" class="form-control" style="height: 80px">{% if friday_workout != false %}{{ friday_workout.workoutNotes }}{% endif %}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Previo"/>
                                <input type="button" name="next" class="next action-button" value="Siguiente"/>
                            </fieldset>
                            <!-- SABADO -->
                            <fieldset>
                                <div class="form-card">
                                    <div class="col-sm-9 ">
                                        <div id="meals-buttons">
                                            <button style="margin-left: 1px" class="btn btn-primary day-meal-button day-meal-button-active" type="button">Desayuno</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Snack</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Almuerzo</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Merienda</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Cena</button>
                                        </div>
                                        <div class="day-plan-breakfast day-plan day-meal-visible">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="breakfast_hour_saturday" value="{% if saturday_breakfast != false %}{{ saturday_breakfast.hour }}{% else %}08:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="breakfast_menu_saturday" class="form-control" style="height: 430px">{% if saturday_breakfast != false %}{{ saturday_breakfast.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="breakfast_list_saturday" class="form-control" style="height: 225px">{% if saturday_breakfast != false %}{{ saturday_breakfast.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="breakfast_comments_saturday" class="form-control" style="height: 186px">{% if saturday_breakfast != false %}{{ saturday_breakfast.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-snack day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="snack_hour_saturday" value="{% if saturday_breakfast != false  %}{{ saturday_breakfast.hour }}{% else %}11:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="snack_menu_saturday" class="form-control" style="height: 430px">{% if saturday_breakfast != false  %}{{ saturday_snack.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="snack_list_saturday" class="form-control" style="height: 225px">{% if saturday_breakfast != false  %}{{ saturday_snack.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="snack_comments_saturday" class="form-control" style="height: 186px">{% if saturday_breakfast != false  %}{{ saturday_snack.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-lunch day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="lunch_hour_saturday" value="{% if saturday_lunch != false  %}{{ saturday_lunch.hour }}{% else %}14:00{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="lunch_menu_saturday" class="form-control" style="height: 430px">{% if saturday_lunch != false  %}{{ saturday_lunch.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="lunch_list_saturday" class="form-control" style="height: 225px">{% if saturday_lunch != false  %}{{ saturday_lunch.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="lunch_comments_saturday" class="form-control" style="height: 186px">{% if saturday_lunch != false  %}{{ saturday_lunch.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-afternoon day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="afternoon_hour_saturday" value="{% if saturday_afternoon != false  %}{{ saturday_afternoon.hour }}{% else %}17:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="afternoon_menu_saturday" class="form-control" style="height: 430px">{% if saturday_afternoon != false  %}{{ saturday_afternoon.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="afternoon_list_saturday" class="form-control" style="height: 225px">{% if saturday_afternoon != false  %}{{ saturday_afternoon.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="afternoon_comments_saturday" class="form-control" style="height: 186px">{% if saturday_afternoon != false  %}{{ saturday_afternoon.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-dinner day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="dinner_hour_saturday" value="{% if saturday_dinner != false  %}{{ saturday_dinner.hour }}{% else %}21:00{% endif %}" min="09:00" max="22:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="dinner_menu_saturday" class="form-control" style="height: 430px">{% if saturday_dinner != false  %}{{ saturday_dinner.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="dinner_list_saturday" class="form-control" style="height: 225px">{% if saturday_dinner != false  %}{{ saturday_dinner.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="dinner_comments_saturday" class="form-control" style="height: 186px">{% if saturday_dinner != false  %}{{ saturday_dinner.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="workout-rest">
                                            <input type="checkbox" value="1" style="width: fit-content; margin-bottom: 10px; margin-top: 10px; margin-right: 10px" name="saturday_workout_rest" id="saturday-workout-rest" {% if saturday_workout == false %} checked {% endif %} onclick="restDay('saturday')"><strong>Descanso</strong>
                                        </div>
                                        <div class="saturday-workout" {% if saturday_workout == false %} style="display: none"{% endif %}>
                                            <br/>
                                            <label for="saturday_workout_sort">Tipo de entrenamiento:</label>
                                            <select name="saturday_workout_sort" id="saturday_workout_sort">
                                                <option value="Fuerza Tren Superior">Fuerza Tren Superior</option>
                                                <option value="Fuerza Tren Inferior">Fuerza Tren Inferior</option>
                                                <option value="Cardio">Cardio</option>
                                                <option value="HIIT">HIIT</option>
                                                <option value="Relajacion">Relajación</option>
                                            </select>
                                            <br/><br/>
                                            <label for="saturday_workout_time">Hora:</label>
                                            <input type="time" name="saturday_workout_time" value="{% if saturday_workout != false %}{{ saturday_workout.hour|date('H:i:s') }}{% endif %}" style="width: fit-content">
                                            <label for="saturday-workout">Entrenamiento:</label>
                                            <textarea type="text" id="saturday-workout" name="saturday_workout" class="form-control" style="height: 150px">{% if saturday_workout != false %}{{ saturday_workout.workout }}{% endif %}</textarea>
                                            <br/>
                                            <ul class="list-group" id="saturday-workout-exercises">
                                                {% for exercise in exercises %}
                                                    <li>
                                                        <input type="checkbox" value="{{ exercise.idExercise }}" style="width: fit-content; margin-bottom: 10px; margin-top: 10px" name="saturday_workout_exercises[{{ exercise.idExercise }}][]" {% if saturday_workout != false and exercise.idExercise in saturday_workout_exercises %}checked{% endif %}>
                                                        {{ exercise.title }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <label for="saturday-workout-notes">Observaciones:</label>
                                            <textarea type="text" id="saturday-workout-notes" name="saturday_workout_notes" class="form-control" style="height: 80px">{% if saturday_workout != false %}{{ saturday_workout.workoutNotes }}{% endif %}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Previo"/>
                                <input type="button" name="next" class="next action-button" value="Siguiente"/>
                            </fieldset>
                            <!-- DOMINGO -->
                            <fieldset>
                                <div class="form-card">
                                    <div class="col-sm-9 ">
                                        <div id="meals-buttons">
                                            <button style="margin-left: 1px" class="btn btn-primary day-meal-button day-meal-button-active" type="button">Desayuno</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Snack</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Almuerzo</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Merienda</button>
                                            <button class="btn btn-primary day-meal-button" type="button">Cena</button>
                                        </div>
                                        <div class="day-plan-breakfast day-plan day-meal-visible">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="breakfast_hour_sunday" value="{% if sunday_breakfast != false %}{{ sunday_breakfast.hour }}{% else %}08:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="breakfast_menu_sunday" class="form-control" style="height: 430px">{% if sunday_breakfast != false %}{{ sunday_breakfast.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="breakfast_list_sunday" class="form-control" style="height: 225px">{% if sunday_breakfast != false %}{{ sunday_breakfast.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="breakfast_comments_sunday" class="form-control" style="height: 186px">{% if sunday_breakfast != false %}{{ sunday_breakfast.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-snack day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="snack_hour_sunday" value="{% if sunday_snack != false %}{{ sunday_snack.hour }}{% else %}11:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="snack_menu_sunday" class="form-control" style="height: 430px">{% if sunday_snack != false %}{{ sunday_snack.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="snack_list_sunday" class="form-control" style="height: 225px">{% if sunday_snack != false %}{{ sunday_snack.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="snack_comments_sunday" class="form-control" style="height: 186px">{% if sunday_snack != false %}{{ sunday_snack.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-lunch day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="lunch_hour_sunday" value="{% if sunday_lunch != false %}{{ sunday_lunch.hour }}{% else %}14:00{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="lunch_menu_sunday" class="form-control" style="height: 430px">{% if sunday_lunch != false %}{{ sunday_lunch.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="lunch_list_sunday" class="form-control" style="height: 225px">{% if sunday_lunch != false %}{{ sunday_lunch.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="lunch_comments_sunday" class="form-control" style="height: 186px">{% if sunday_lunch != false %}{{ sunday_lunch.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-afternoon day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="afternoon_hour_sunday" value="{% if sunday_afternoon != false %}{{ sunday_afternoon.hour }}{% else %}17:30{% endif %}" min="09:00" max="18:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="afternoon_menu_sunday" class="form-control" style="height: 430px">{% if sunday_afternoon != false %}{{ sunday_afternoon.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="afternoon_list_sunday" class="form-control" style="height: 225px">{% if sunday_afternoon != false %}{{ sunday_afternoon.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="afternoon_comments_sunday" class="form-control" style="height: 186px">{% if sunday_afternoon != false %}{{ sunday_afternoon.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="day-plan-dinner day-plan day-meal-hidden">
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="hora" style="margin-right: 10px">Hora:</label><input style="width: 20%; margin: 0" type="time" id="hora" name="dinner_hour_sunday" value="{% if sunday_dinner != false %}{{ sunday_dinner.hour }}{% else %}21:00{% endif %}" min="09:00" max="22:00" required>
                                                <br/><br/>
                                                <label for="menu">Menú:</label><textarea type="text" id="menu" name="dinner_menu_sunday" class="form-control" style="height: 430px">{% if sunday_dinner != false %}{{ sunday_dinner.meal }}{% endif %}</textarea>
                                            </div>
                                            <div class="col-sm-6" style="padding: 20px">
                                                <label for="list">Lista:</label><textarea type="text" id="list" name="dinner_list_sunday" class="form-control" style="height: 225px">{% if sunday_dinner != false %}{{ sunday_dinner.mealShoppingList }}{% endif %}</textarea>
                                                <br/><br/>
                                                <label for="comments">Comentarios:</label><textarea type="text" id="comments" name="dinner_comments_sunday" class="form-control" style="height: 186px">{% if sunday_dinner != false %}{{ sunday_dinner.mealNotes }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="workout-rest">
                                            <input type="checkbox" value="1" style="width: fit-content; margin-bottom: 10px; margin-top: 10px; margin-right: 10px" name="sunday_workout_rest" id="sunday-workout-rest" {% if sunday_workout == false %} checked {% endif %} onclick="restDay('sunday')"><strong>Descanso</strong>
                                        </div>
                                        <div class="sunday-workout" {% if sunday_workout == false %} style="display: none"{% endif %}>
                                            <br/>
                                            <label for="sunday_workout_sort">Tipo de entrenamiento:</label>
                                            <select name="sunday_workout_sort" id="sunday_workout_sort">
                                                <option value="Fuerza Tren Superior">Fuerza Tren Superior</option>
                                                <option value="Fuerza Tren Inferior">Fuerza Tren Inferior</option>
                                                <option value="Cardio">Cardio</option>
                                                <option value="HIIT">HIIT</option>
                                                <option value="Relajacion">Relajación</option>
                                            </select>
                                            <br/><br/>
                                            <label for="sunday_workout_time">Hora:</label>
                                            <input type="time" name="sunday_workout_time" value="{% if sunday_workout != false %}{{ sunday_workout.hour|date('H:i:s') }}{% endif %}" style="width: fit-content">
                                            <label for="sunday-workout">Entrenamiento:</label>
                                            <textarea type="text" id="sunday-workout" name="sunday_workout" class="form-control" style="height: 150px">{% if sunday_workout != false %}{{ sunday_workout.workout }}{% endif %}</textarea>
                                            <br/>
                                            <ul class="list-group" id="sunday-workout-exercises">
                                                {% for exercise in exercises %}
                                                    <li>
                                                        <input type="checkbox" value="{{ exercise.idExercise }}" style="width: fit-content; margin-bottom: 10px; margin-top: 10px" name="sunday_workout_exercises[{{ exercise.idExercise }}][]" {% if sunday_workout != false and exercise.idExercise in sunday_workout_exercises %}checked{% endif %}>
                                                        {{ exercise.title }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <label for="sunday-workout-notes">Observaciones:</label>
                                            <textarea type="text" id="sunday-workout-notes" name="sunday_workout_notes" class="form-control" style="height: 80px">{% if sunday_workout != false %}{{ sunday_workout.workoutNotes }}{% endif %}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Previo"/>
                                <input type="submit" name="confirm-plan" class="next action-button" value="Confirmar"/>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    </html>
{% endblock %}
