{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <header>
        <!-- Login Page stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/nutritionistpages.css') }}" />
        <!-- Customs JS -->
        <script src="{{ asset('bundles/framework/js/customs.js') }}"></script>
    </header>
    <section id="default-header">
        {% include 'header.html.twig' %}
    </section>
    <section id="nutritionist-personal-data">
        <form class="form" action="{{ path("nutritionist_personal_data") }}" method="post">
            {% for message in  app.session.flashbag().get('updateNutritionistDataKOStatus') %}
                <div class="row" style="width: 95%; margin-left: 2.5%; margin-top: 10px; margin-bottom: -10px;">
                    <div class="alert alert-danger" role="alert" style="margin-bottom: 0">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            {% for message in  app.session.flashbag().get('updateNutritionistDataOKStatus') %}
                <div class="row" style="width: 95%; margin-left: 2.5%; margin-top: 10px; margin-bottom: -10px;">
                    <div class="alert alert-success" role="alert" style="margin-bottom: 0">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            <div class="container">
                <div class="col-sm-6" style="padding-left: 2%">
                    <div class="personal-data-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        <h3 style="display: inline-flex">Mis Datos Personales</h3>
                    </div>
                    <br/>
                    <div class="form-check">
                        <label class="form-check-label" for="idGenderOther">
                            Otro
                        </label>
                        <input class="form-check-input" type="checkbox" value="0" id="idGenderOther" {% if app.user.idGender == 0 %} checked="checked" {% endif %} onclick="checkIdGender(this.id, this.value)">
                        <label class="form-check-label" for="idGenderFemale">
                            Sra.
                        </label>
                        <input class="form-check-input" type="checkbox" value="1" id="idGenderFemale" {% if app.user.idGender == 1 %} checked="checked" {% endif %} onclick="checkIdGender(this.id, this.value)">
                        <label class="form-check-label" for="idGenderMale">
                            Sr.
                        </label>
                        <input class="form-check-input" type="checkbox" value="2" id="idGenderMale" {% if app.user.idGender == 2 %} checked="checked" {% endif %} onclick="checkIdGender(this.id, this.value)">
                        <input type="hidden" id="nutritionistGender" name="_nutritionistGender" value="0"/>
                    </div>
                    <div class="personal-data-fields">
                        <label for="firstname">Nombre:</label><input type="text" id="firstname" name="_firstname" class="form-control" value="{{ app.user.firstname }}"/>
                        <label for="lastname">Apellidos:</label><input type="text" id="lastname" name="_lastname" class="form-control" value="{{ app.user.lastname }}"/>
                        <label for="email">Email:</label><input type="email" id="email" name="_email" class="form-control" value="{{ app.user.email }}"/>
                        <label for="password">Contraseña:</label><input type="password" id="password" name="_password" class="form-control"/>
                        <label for="confirm_password">Confirmar Contraseña:</label><input type="password" id="confirm_password" name="_confirm_password" class="form-control"/>
                        <label for="birthday">Fecha de nacimiento:</label><input type="date" id="birthday" name="_birthday" class="form-control" value="{{ app.user.birthday|date('Y-m-d') }}"/>
                    </div>
                </div>
                <div class="col-sm-6" style="display: inline-flex">
                    <div class="personal-data-fields" style="margin-top: 18%; width: 100%; margin-left: 0; padding: 3px">
                        <label for="bibliografia">Descripción / Bibliografía:</label>
                        <textarea type="text" id="bibliografia" name="_bibliografia" class="form-control" style="height: 10rem">{{ app.user.description }}</textarea>
                        <label for="estudios">Estudios:</label>
                        <textarea type="text" id="estudios" name="_estudios" class="form-control" style="height: 7rem">{{ app.user.studies }}</textarea>
                        <label for="antiquity">Antiguedad (años):</label>
                        <input type="number" id="antiquity" name="_antiquity" class="form-control" value="{{ app.user.antiquity }}" style="width: 85%"/>
                        <label for="n_colegiado">Número de Colegiado:</label>
                        <input type="number" id="n_colegiado" name="_n_colegiado" class="form-control" value="{{ app.user.collegiate_number }}" style="width: 85%"/>
                        <strong>
                            Obtener más informacion acerca de tu perfil de colegiado
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16" style="width: 2rem; height: 2rem; margin-bottom: -3px"
                                 onclick="openModal('openCollegiateNumberModal')">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                        </strong>
                        <button style="display: none" type="button" class="btn btn-primary" id="openCollegiateNumberModal" data-toggle="modal" data-target="#infoCollegiateNumberModal"></button>
                        <div class="modal fade" id="infoCollegiateNumberModal">
                            <div class="modal-dialog" style="margin: 5rem 22rem;">
                                <div class="modal-content" style="width: 150rem; height: 90rem">
                                    <!-- Modal body -->
                                    <iframe id="inlineFrameExample"
                                            title="Inline Frame Example"
                                            width="100%"
                                            height="100%"
                                            src="https://www.consejodietistasnutricionistas.com/que-es-un-dietista-nutricionista/registro-nacional-de-dietistas-nutricionistas/">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                        <div class="save-button-item" style="width: 100%;">
                            <input class="btn save-button" type="submit" value="Guardar"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    </html>
{% endblock %}
