{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <header>
        <!-- Login Page stylesheet -->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/nutritionistpages.css') }}" />
    </header>
    <section id="default-header">
        {% include 'header.html.twig' %}
    </section>
    <section id="nutritionist-calendar">
        <header>
            <!-- Calendar Page stylesheet -->
            <link rel="stylesheet" href="{{ asset('bundles/framework/css/calendar.css') }}" />
            <!-- Calendar JS -->
            <script src="{{ asset('public/js/calendar.js') }}"></script>
            <!-- NutriK Calendar JS -->
            <script src="{{ asset('bundles/framework/js/nutrik-calendar.js') }}"></script>
        </header>
        <div class="row" id="event_type_alert" style="width: 93.5%; margin-left: 3.3%; margin-top: 10px; margin-bottom: -10px; display: none">
            <div class="alert alert-danger" role="alert" style="margin-bottom: 0">
                El tipo de evento no es correcto, indica si se trata de una Consulta o de un Evento
            </div>
        </div>
        {% for message in  app.session.flashbag().get('calendarKOStatus') %}
            <div class="row" style="width: 93.5%; margin-left: 3.3%; margin-top: 10px; margin-bottom: -10px;">
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="container">
            <div class="col-sm-12">
                {% for calendar_event in calendar_events %}
                    <div class="calendar_event" style="color: black; display: none">
                        <input class="calendar_event_id" value="{{ calendar_event['id'] }}"/>
                        <input class="calendar_event_title" value="{{ calendar_event['title'] }}"/>
                        <input class="calendar_event_start" value="{{ calendar_event['start']|date('Y-m-d H:i:s') }}"/>
                        <input class="calendar_event_end" value="{{ calendar_event['end']|date('Y-m-d H:i:s') }}"/>
                        <input class="calendar_event_url" value="{{ calendar_event['url'] }}"/>
                    </div>
                {% endfor %}
                <div id="calendar-block">
                    <div id='wrap'>
                        <div id='calendar'></div>
                        <div style='clear:both'></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </html>
{% endblock %}
