{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <header>
        <!-- Login Page stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/nutritionistpages.css') }}" />
    </header>
    <section id="default-header">
        {% include 'header.html.twig' %}
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/wizard-form.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/appointment-calendar.css') }}" />
        <!-- Wizard Form JS -->
        <script src="{{ asset('bundles/framework/js/wizard.js') }}"></script>
    </section>
    <section id="nutritionist-appointment">
        {% for message in  app.session.flashbag().get('scheduleAppointmentKOStatus') %}
            <div class="row" style="width: 92%; margin-left: 4%; margin-top: 10px; margin-bottom: -10px;">
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="container">
            <div class="col-sm-12">
                <div id="appointment-content-block">
                    <div class="col-sm-12">
                        <h2>Programar Consulta</h2>
                        <form id="msform" action="{{ path("nutritionist_schedule_appointment") }}" method="post">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="appointment-date"><strong>Fecha Consulta</strong></li>
                                <li id="appointment-hour"><strong>Hora Consulta</strong></li>
                                <li id="appointment-customer"><strong>Cliente Consulta</strong></li>
                                <li id="confirm"><strong>Confirmaci칩n</strong></li>
                            </ul> <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <input name="appointment_date" id="appointment_date" value="" type="date"/>
                                </div>
                                <input type="button" name="next" class="next action-button" value="Siguiente"/>
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 style="color: #00766c; text-align: center">Elige una hora para la consulta</h2>
                                    <p style="text-align: center; font-size: 20px; margin-top: 3%; margin-bottom: 3%"> El horario permitido para la consulta es de 09:00 a 19:00. Para modificarlo, es necesario ajustar dicho horario en la configuracion de su perfil</p>
                                    <label for="appointment_hour" style="margin-right: 10px"></label>
                                    <input type="time" id="appointment_hour" name="appointment_hour" min="09:00" max="19:00" style="width: 50%; margin-left: 25%" value="11:00" required="required">
                                    <p style="text-align: center; font-size: 20px;"> Indica una breve descripci칩n para la consulta</p>
                                    <label for="appointment_description" style="margin-right: 10px"></label>
                                    <input type="text" class="form-control" id="appointment_description" name="appointment_description" style="width: 60%;margin-left: 21%;height: 10rem;border: 1px solid #ccc;border-radius: 10px;"  required="required">
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Previo"/>
                                <input type="button" name="next" class="next action-button" value="Siguiente"/>
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 style="color: #00766c; text-align: center">Selecciona el cliente</h2>
                                    <nav class="navbar navbar-light bg-light" style="height: 7rem;">
                                        <div class="container-fluid">
                                            <div class="d-flex customers-finder" style="margin: 15px 0;">
                                                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="appointment_customer_search"
                                                       style="width: 68.5%; display: inline-flex; margin-left: 14.3%;border: 1px solid #00766c;border-radius: 5px;"/>
                                                <button class="btn btn-outline-success" id="appointment-customer-search-button" name="submit" value="Buscar">Buscar</button>
                                            </div>
                                        </div>
                                    </nav>
                                    <div id="appointment-customers-block">
                                        {% for customer in customers %}
                                            <div class="customer-entry">
                                                <div class="col-sm-11 customer-entry-resume">
                                                    <div class="col-sm-2"><input type="checkbox" value="{{ customer.idUser }}" style="width: 15px; height: 15px" name="appointment_customer" id="appointment-customer"></div>
                                                    <div class="col-sm-3" style="text-align: start">{{ customer.firstname }}</div>
                                                    <div class="col-sm-3" style="text-align: center">{{ customer.lastname }}</div>
                                                    <div class="col-sm-4" style="text-align: end">{{ customer.email }}</div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Previo"/>
                                <input type="button" name="next" class="next action-button" value="Siguiente"/>
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <div class="col-sm-6" style="margin-left: 25%">
                                        <label for="appointment_duration">Duraci칩n consulta (min):</label>
                                        <input type="number" id="appointment_duration" name="appointment_duration" class="form-control" style="padding: 0; border: 1px solid #00766c; border-radius: 5px; margin-bottom: 20px; margin-top: 20px; height: 45px;"/>

                                        <label for="appointment_type">Tipo consulta:</label>
                                        <select id="appointment_type" name="appointment_type" class="form-control" >
                                            <option value="1">Presencial</option>
                                            <option value="2">Virtual</option>
                                        </select>
                                        <label for="appointment_link">A침adir enlace videollamada (opcional):</label>
                                        <input type="text" id="appointment_link" name="appointment_link" class="form-control" style="padding: 0; border: 1px solid #00766c; border-radius: 5px; margin-bottom: 20px; margin-top: 20px; height: 45px;"/>
                                    </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Previo"/>
                                <input type="submit" name="submit" class="action-button" value="Confirmar"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </html>
{% endblock %}
